@import "tailwindcss";
@import "tailwindcss/theme";

@font-face {
  font-family: "Nohemi";
  src: url("../assets/fonts/Nohemi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("..//assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("../assets/fonts/Nohemi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --color-primary: #a2b391; /* olive */
  --color-secondary: #f1f7e7; /* whiteolive */
  --color-accent: #ca9ca9; /* pink */
  --color-ink: #000305; /* black */
  --color-light: #eff5e5; /* lightcream */
  --color-white: #ffffff; /* lightcream */
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  scroll-behavior: smooth;
  font-family: var(--font-body);
}
h1,
h2 {
  font-family: var(--font-heading);
  color: var(--color-primary);
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  text-decoration: var(--color-ink);
}

body {
  background-color: var(--color-white);
  /* background-image: url('/assets/pattern.svg'); */
  background-repeat: repeat;
  background-size: 400px 400px;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.background-circles {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

/* Karty wizytówek*/

/* wrapper żeby mieć kontrolę nad efektem */
.card-wrapper {
  display: flex;
  justify-content: center;
  perspective: 1000px;
}

/* główna karta */
.contact-card {
  border-radius: 24px;
  transition: all 0.4s ease;
  box-shadow: rgba(0, 3, 5, 0.08);
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

/* hover efekt */
.contact-card1:hover {
  transform: scale(1.05) rotateX(-2deg) rotateY(2deg);
  box-shadow:
    -25px 25px 25px rgba(0, 3, 5, 0.15),
    -25px 25px 25px var(--color-primary);
}

.contact-card2:hover {
  transform: scale(1.05) rotateX(2deg) rotateY(-2deg);
  box-shadow:
    25px 25px 25px rgba(0, 3, 5, 0.15),
    25px 25px 25px var(--color-primary);
}

.contact-mail:hover {
  transform: scale(1.05) rotateX(2deg) rotateY(-2deg);
  box-shadow:
    0px 15px 25px rgba(0, 3, 5, 0.15),
    0px 15px 25px var(--color-primary);
}

/* animacja pulsowania */
@keyframes circlePulse {
  0% {
    transform: scale(1);
    border-width: 3px var(--color-accent);
  }
  50% {
    transform: scale(1.07);
    box-shadow: 0 0 8px var(--color-primary);
  }
  100% {
    transform: scale(1);
    border-width: 3px var(--color-accent);
  }
}
